<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tonda.frpui.daemon</string>
	<key>BundleProgram</key>
	<string>Contents/Resources/frpc</string>
	<key>ProgramArguments</key>
	<array>
		<string>Contents/Resources/frpc</string>
		<string>-c</string>
		<string>/Library/Application Support/frpui/frpc.toml</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Library/Logs/frpui-frpc.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/frpui-frpc.log</string>
</dict>
</plist>
